* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #1f2937;
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */

header {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 8%;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  color: #12355b;
}

.logo span {
  color: #00a8e8;
}

.navbar ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: #00a8e8;
}

/* HERO */

.hero {
  height: 85vh;

  display: flex;
  align-items: center;

  padding: 0 8%;

  background: linear-gradient(120deg, #eaf6ff, white);
}

.hero-text {
  max-width: 700px;
}

.hero h1 {
  font-size: 52px;
  line-height: 1.2;
}

.hero h1 span {
  color: #0077b6;
}

.hero p {
  font-size: 18px;
  margin: 25px 0;
  color: #555;
}

button {
  background: #0077b6;
  color: white;

  border: none;
  padding: 13px 28px;

  border-radius: 6px;

  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #023e8a;
}

/* COMMON SECTION */

section {
  padding: 80px 8%;
}

h2 {
  text-align: center;

  font-size: 36px;

  margin-bottom: 30px;

  color: #12355b;
}

.section-text {
  text-align: center;
  max-width: 800px;
  margin: auto;

  color: #555;
}

/* CARDS */

.cards,
.event-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  margin-top: 45px;
}
.team-container {
  display: flex;

  gap: 25px;

  justify-content: center;

  margin-top: 40px;
}

.card,
.event-card {
  background: white;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  width: 300px;
  min-height: 260px;

  display: flex;
  flex-direction: column;

  transition: 0.3s;
}

.card:hover,
.event-card:hover {
  transform: translateY(-8px);
}

.card h3,
.event-card h3 {
  color: #0077b6;
  margin-bottom: 18px;
}
.event-card p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}
.event-card button {
  margin-top: auto;
  align-self: flex-start;
}

/* TEAM */

.member {
  text-align: center;
}

.photo {
  height: 130px;
  width: 130px;

  border-radius: 50%;

  background: #dbeafe;

  margin: auto;

  margin-bottom: 15px;
}

/* CONTACT */

.contact-box {
  text-align: center;

  background: #f1f8ff;

  padding: 35px;

  border-radius: 12px;
}

footer {
  background: #12355b;

  color: white;

  text-align: center;

  padding: 20px;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;

    gap: 20px;
  }

  .navbar ul {
    flex-direction: column;

    text-align: center;
  }

  .hero h1 {
    font-size: 38px;
  }

  .cards,
  .event-container,
  .team-container {
    flex-direction: column;

    align-items: center;
  }
}
