* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  background: #050816;

  color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */

header {
  position: sticky;
  top: 0;

  background: rgba(5, 8, 22, 0.8);

  backdrop-filter: blur(10px);

  z-index: 10;
}

nav {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 22px 8%;
}

.logo {
  font-size: 26px;
  font-weight: 800;
}

.logo span {
  color: #00f5ff;
}

ul {
  display: flex;

  gap: 35px;

  list-style: none;
}

a {
  text-decoration: none;

  color: #cbd5e1;
}

a:hover {
  color: #00f5ff;
}

/* HERO */

.hero {
  min-height: 90vh;

  display: flex;

  align-items: center;

  padding: 8%;

  background: linear-gradient(135deg, #050816, #111827);
}

.tag {
  color: #00f5ff;

  letter-spacing: 3px;

  margin-bottom: 20px;
}

.hero h1 {
  font-size: 60px;

  max-width: 800px;
}

.hero h1 span {
  color: #8b5cf6;
}

.hero p {
  font-size: 18px;

  max-width: 650px;

  line-height: 1.7;

  margin: 25px 0;

  color: #cbd5e1;
}

button {
  background: #00f5ff;

  border: none;

  padding: 14px 30px;

  border-radius: 8px;

  font-weight: 600;

  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 25px #00f5ff;
}

section {
  padding: 80px 8%;
}

h2 {
  text-align: center;

  font-size: 38px;

  margin-bottom: 35px;
}

.description {
  text-align: center;

  max-width: 700px;

  margin: auto;

  color: #94a3b8;
}

/* CARDS */

.grid {
  display: flex;

  gap: 25px;

  justify-content: center;

  margin-top: 45px;
}

.card,
.event {
  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(0, 245, 255, 0.2);

  padding: 35px;

  border-radius: 15px;

  width: 300px;

  transition: 0.3s;
}

.card:hover,
.event:hover {
  transform: translateY(-10px);

  border-color: #00f5ff;
}

.card h3 {
  color: #00f5ff;

  font-size: 35px;
}

.card h4 {
  margin: 15px 0;

  font-size: 22px;
}

.event span {
  color: #8b5cf6;

  font-size: 13px;
}

.event h3 {
  margin: 15px 0;

  color: #00f5ff;
}

.event p {
  margin-bottom: 30px;

  line-height: 1.6;
}

/* TEAM */

.team {
  display: flex;

  justify-content: center;

  gap: 50px;

  text-align: center;
}

.avatar {
  height: 120px;

  width: 120px;

  border-radius: 50%;

  background: linear-gradient(135deg, #00f5ff, #8b5cf6);

  margin-bottom: 15px;
}

.contact {
  background: #111827;

  padding: 35px;

  border-radius: 15px;

  text-align: center;

  line-height: 2;
}

footer {
  text-align: center;

  padding: 25px;

  border-top: 1px solid #1f2937;
}

@media (max-width: 800px) {
  nav,
  .grid,
  .team {
    flex-direction: column;

    align-items: center;
  }

  .hero h1 {
    font-size: 40px;
  }
}
